/* BOOK CSS */
.book {
  background-color: $grey;
  width: 300px;
  text-align: center;
  padding: 10px;
  &-img {
    width: auto;
    height: 300px;
  }
}

.books{
  &-list {
    display:block;
  }
  &-list-item{
    display: inline-block;
    text-decoration: none;
  }
}


